<h4 style="color:red" data-test="error"><%= flash[:alert] %></h4>
<h2 data-test="title">Log in</h2>
<%= form_with url: session_path do |form| %>
  <%= form.email_field :email_address, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], "data-test": "email" %><br>
  <%= form.password_field :password, autocomplete: "current-password", placeholder: "Enter your password", "data-test": "password" %><br>
  <%= form.submit "Sign in", "data-test": "login" %>
<% end %>
<br>
<%= link_to "Forgot password?", new_password_path %>
